{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  <!--
  Gantt
  -->
  {{- if .Params.recipe.gantt }}
  <ol id="gantt-data" class="display-none">
    {{- range $item := .Params.recipe.gantt }}
    <li
      data-id="{{- $item.id -}}"
      data-desc="{{- $item.desc -}}"
      data-start="{{- $item.start -}}"
      data-duration="{{- $item.duration -}}"
      data-end="{{- $item.end -}}"
      data-depends-on="{{- $item.dependsOn -}}"
      ></li>
    {{- end}}
  </ol>
  <div id="gantt-container"></div>
  {{- end }} <!-- end .Params.recipe.gantt -->

  <div id="wordy-divs">
    {{- if .Params.recipe.ingredients }}
    <div id="ingredients-container">
      <!--
      Ingredients
      -->
      <h1>Ingredients</h1>
      <button id="ingredints-combine">Combine</button>
      <ol id="ingredients-data" class="display-none">
        {{- range $group := .Params.recipe.ingredients }}
        <li
          data-group="{{- $group.group -}}"
          >
          <ol>
            {{- range $item := $group.items }}
            <li data-name="{{- $item.name -}}"
            data-amount="{{- $item.amount -}}"
            data-instruction="{{- $item.instruction -}}"></li>
            {{- end}}
          </ol>
        </li>
        {{- end}}
      </ol>
      <div id="ingredient-groups-container"></div>
    </div>
    {{- end }} <!-- end if .Params.recipe.ingredients-->

    <!--
    Instructions
    -->
    {{- if .Params.recipe.gantt }}
    <div id="ingredients-container">
      <h1>Instructions</h1>
      <div id="instructions-list-container">
        <ol id="instructions-list"></ol>
      </div>
    </div>
    {{- end }} <!-- end .Params.recipe.gantt -->
  </div>

  <!--
  Standard markdown content
  -->
  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
