{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  <!--
  Gantt
  -->
  {{- if .Params.recipe.gantt }}
  <ol id="gantt-data" class="display-none">
    {{- range $item := .Params.recipe.gantt }}
    <li
      data-id="{{- $item.id -}}"
      data-desc="{{- $item.desc -}}"
      data-start="{{- $item.start -}}"
      data-duration="{{- $item.duration -}}"
      data-end="{{- $item.end -}}"
      data-depends-on="{{- $item.dependsOn -}}"
      ></li>
    {{- end}}
  </ol>
  <div id="gantt-container"></div>
  {{- end }} <!-- end .Params.recipe.gantt -->

  <div id="wordy-divs">
    {{- if .Params.recipe.ingredients }}
    <div id="ingredients-container">
      <!--
      Ingredients
      -->
      <div id="ingredients-heading">
        <h2>Ingredients</h2>
        <button id="ingredients-combine-btn" class="display-none">
          <svg id="ingredient-split" class="display-none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"/>
          </svg>
          <svg id="ingredient-combine" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8Zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0Zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793Z"/>
          </svg>
        </button>
      </div>
      {{- if .Params.recipe.servings }}
      <p id="servings"><em>Servings: {{ .Params.recipe.servings }}</em></p>
      {{- end }}
      <ol id="ingredients-data" class="display-none">
        {{- range $group := .Params.recipe.ingredients }}
        <li
          data-group="{{- $group.group -}}"
          >
          <ol>
            {{- range $item := $group.items }}
            <li data-name="{{- $item.name -}}"
            data-amount="{{- $item.amount -}}"
            data-instruction="{{- $item.instruction -}}"></li>
            {{- end}}
          </ol>
        </li>
        {{- end}}
      </ol>
      <div id="ingredient-groups-container"></div>
    </div>
    {{- end }} <!-- end if .Params.recipe.ingredients-->

    <!--
    Instructions
    -->
    {{- if .Params.recipe.instructions }}
    <div id="instructions-container">
      <div id="instructions-heading">
        <h2>Instructions</h2>
      </div>
      <div id="instructions-list-container">
        <ol id="instructions-list">
          {{- range $idx, $instruction := .Params.recipe.instructions }}
          <li>
            <div>
              <!-- https://stackoverflow.com/a/72465098 -->
              <h3>Step {{ len (printf "x%*s" $idx "") }}</h3>
              <p>{{ $instruction }}</p>
            </div>
          </li>
          {{- end}}
        </ol>
      </div>
    </div>
    {{- end }} <!-- end .Params.recipe.gantt -->
  </div>

  <!--
  Standard markdown content
  -->
  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
