#gantt-container {
  padding: 10px 0;
  position: relative;
}

.gantt-item {
  position: absolute;
  border: 1px solid #999;
  font-size: 0.75em;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}
