#gantt-container {
  padding: 10px 0;
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
}

.gantt-item {
  position: absolute;
  background: var(--gantt-item-1-bg);
  font-size: 0.75em;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  white-space: nowrap;
}
