#gantt-container {
  padding: 10px 0;
  position: relative;
}

.gantt-item {
  position: absolute;
  background: var(--gantt-item-1-bg);
  font-size: 0.75em;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  white-space: nowrap;
}

#wordy-divs {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#ingredients-container {
  width: 300px;
}

#ingredient-heading {
  display: flex;
  align-items: baseline;
}

#ingredient-groups-container ul li {
  list-style: none;
}

.ingredient-group-div {
  margin-bottom: 2em;
}

#instructions-container {
}

#instructions-list-container {
  margin: 0 auto;
  max-width: 760px;
}

#instructions-list-container ol {
  padding: 0;
  list-style: none;
}

#ingredients-combine-btn {
  margin-left: 10px;
}
